<ion-header>
  <ion-toolbar class="{{primario}}">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>

</ion-header>
<ion-header [translucent]="true">
</ion-header>

<!--
  MENU LATERAL
-->
<ion-menu contentId="main-content" class="{{terciario}}">
  <ion-header>
    <ion-toolbar class="{{primario}}">
      <ion-title>Mi Promedio</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item lines="full">
      <ion-icon name="calculator-outline"></ion-icon>
      <ion-label>Mis promedios</ion-label>
      <ion-icon name="lock-closed" slot="end"></ion-icon>
    </ion-item>
    <ion-item lines="full" routerLink="/block-de-notas">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Block de Notas</ion-label>
      <ion-icon name="lock-closed" slot="end"></ion-icon>
    </ion-item>
  </ion-content>
  <ion-footer *ngIf="userData;else iniciar" class="{{secundario}}">
    <ion-item detail="true" (click)="goToProfile()" class="{{secundario}}">
      <ion-label>
        <h3>{{userData.user.username}}</h3>
      </ion-label>
    </ion-item>
  </ion-footer>
  <ng-template #iniciar>
    <ion-item detail="true" (click)="logIn()" class="{{secundario}}">
      <ion-label>
        <h3>Iniciar Sesion</h3>
      </ion-label>
    </ion-item>
  </ng-template>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
</div>
<!--
  FIN MENU LATERAL
-->

<ion-content>
  <ion-list lines="full">
    <ion-item>
      <ion-img></ion-img>
      <ion-label>Foto de perfil</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Nombre</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Apellido</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Nombre de usuario: {{userData.user.username}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Correo: {{userData.user.email}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Teléfono</ion-label>
    </ion-item>
    <ion-item>
      <ion-select (blur)="cambioColor()" [(ngModel)]="colores.colors" placeholder="Elige los colores para la aplicación">
        <ion-select-option>
          Original App
        </ion-select-option>
        <ion-select-option>
          DuocUC
        </ion-select-option>
        <ion-select-option>
          USM
        </ion-select-option>
        <ion-select-option>
          Inacap
        </ion-select-option>
        <ion-select-option>
          UNAB
        </ion-select-option>
        <ion-select-option>
          AIEP
        </ion-select-option>
        <ion-select-option>
          Personalizado
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>