<ion-header>
  <ion-toolbar class="{{primario}}">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>

</ion-header>
<ion-header [translucent]="true">
</ion-header>

<ion-menu contentId="main-content" class="{{terciario}}">
  <ion-header>
    <ion-toolbar class="{{primario}}">
      <ion-title>Mi Promedio</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item lines="full">
      <ion-icon name="calculator-outline"></ion-icon>
      <ion-label>Mis promediosx</ion-label>
      <ion-icon  name="lock-closed" slot="end"></ion-icon>
    </ion-item>
    <ion-item lines="full">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Notas</ion-label>
      <ion-icon  name="lock-closed" slot="end"></ion-icon>
    </ion-item>
    <ion-item lines="full">
      <ion-icon name="game-controller-outline"></ion-icon>
      <ion-label>Pasatiempos</ion-label>
      <ion-icon  name="lock-closed" slot="end"></ion-icon>
    </ion-item>
  </ion-content>
  <ion-footer class="{{secundario}}">
    <ion-item detail="true" (click)="logIn()" class="{{secundario}}">
      <ion-label >
        <h3 *ngIf="data.email;else iniciar">{{data.email}}</h3>
        <ng-template #iniciar>
          <h3>Iniciar Sesion</h3>
        </ng-template>
      </ion-label>
    </ion-item>
  </ion-footer>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> Tap the button in the toolbar to open the menu. </ion-content>
</div>


