<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Welcome</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Guardar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-input labelPlacement="stacked" label="Título de la nota" [(ngModel)]="nota.title" placeholder="Título"></ion-input>
  </ion-item>
  <ion-item>
    <ion-textarea labelPlacement="stacked" label="Contenido de la nota" [(ngModel)]="nota.content" placeholder="Contenido"></ion-textarea>
  </ion-item>
</ion-content>