<ion-header [translucent]="true">
</ion-header>

<ion-buttons slot="start">
  <ion-button (click)="retroceso()">
    <ion-icon slot="icon-only" name="arrow-back" class="{{primario}}"></ion-icon>
  </ion-button>
</ion-buttons>


<ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>

<ion-content [fullscreen]="true" class="{{primario}}">



  <ion-card class="{{primario}}">
    <ion-card-content>
      <ion-spinner *ngIf="registering" name="crescent"></ion-spinner>
      <br>
      <br>
      <ion-card-title class="{{primario}}">Iniciar sesión</ion-card-title>
      {{mensaje}}
      <!--
        LOGIN
      -->
      <div *ngIf="wrongCredentials">
        <ion-label>{{wrongCredentials}}</ion-label>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <ion-input class="{{terciario}}" [(ngModel)]="user.identifier" formControlName="identifier" appAutofill
          type="email" autocomplete="email" type="email" fill="solid" label="Email" labelPlacement="floating"
          errorText="Correo Invalido" ngModel email></ion-input>
        <ion-input class="{{terciario}}" [(ngModel)]="user.password" formControlName="password" appAutofill
          type="password" autocomplete="current-password" label="Contraseña" fill="solid" labelPlacement="floating"
          type="password">
        </ion-input>
        <ion-button type="submit" [disabled]="loginForm.invalid" class="{{secundario}}" expand="block"
          (click)="logIn()"> Iniciar
          Sesion</ion-button>
      </form>
      <ion-label><a href="
        https://strapi-production-1151.up.railway.app/api/auth/forgot-password">¿Olvidaste tu
          contraseña?</a></ion-label>
      <!--
        FIN LOGIN
      -->
    </ion-card-content>
  </ion-card>
  <ion-card class="{{primario}}">
    <ion-card-header>
      <ion-card-title class="{{primario}}">Registrarse</ion-card-title>
      <ion-button class="{{secundario}}" expand="block">Registrar con google</ion-button>
      <ion-button class="{{secundario}}" expand="block">Registrar con facebook</ion-button>
      <ion-button class="{{secundario}}" id="open-modal" (click)="setOpen(true)" expand="block">Registrar con
        Email</ion-button>
    </ion-card-header>
  </ion-card>
  <ion-card class="{{primario}}">
    <ion-card-header>

      <ion-button (click)="goHome()">Continuar sin iniciar sesión</ion-button>
    </ion-card-header>
  </ion-card>
  <!--
    MODAL DE REGISTRO
  -->
  <ion-modal #modal trigger="open-modal" [isOpen]="isModalOpen" [presentingElement]="presentingElement">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Datos de registro</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modal.dismiss()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">

        <!--
            REGISTRATION
          -->
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmitReg()">

          <ion-item>
            <ion-input #username formControlName="username" label="Nombre de Usuario"
              [(ngModel)]="userRegistration.username" labelPlacement="floating" placeholder="Nombre"></ion-input>
            <ion-icon name="create-outline" slot="end"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-input #email formControlName="email" label="Correo Electrónico"
              [(ngModel)]="userRegistration.identifier" labelPlacement="floating" placeholder="Correo Electrónico"
              type="email" errorText="Correo Invalido" ngModel email></ion-input>
            <ion-icon name="mail-outline" slot="end"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-input formControlName="password" label="Contraseña" type="password" labelPlacement="floating"
              placeholder="Contraseña"></ion-input>
            <ion-icon name="create-outline" slot="end"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-input formControlName="confirmPassword" label="Repita su contraseña" type="password"
              labelPlacement="floating" placeholder="Contraseña"></ion-input>
            <ion-icon name="create-outline" slot="end"></ion-icon>
          </ion-item>

          <ion-button expand="block" type="submit" (click)="register()"
            (click)="setOpen(false)">Registrarse</ion-button>
          <ion-spinner class="cargaem" *ngIf="registering" name="crescent"></ion-spinner>
        </form>
      </ion-content>

    </ng-template>
  </ion-modal>

</ion-content>