<!--
  Cabecera principal
-->
<app-menu></app-menu>
<ion-header>
  <ion-toolbar class="{{primario}}">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Mi Promedio</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="refresh()"><ion-icon name="refresh"></ion-icon></ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!--
  Fin Cabecera principal
-->
<!--
  MENU LATERAL
-->



<!--
  FIN MENU LATERAL
-->

<ion-content [fullscreen]="true" class="{{terciario}}">
  <!--    
    Selector
  -->
  <div class="{{terciario}} container">
    <ion-item class="{{terciario}} selectorProme ">
      <ion-select (focus)="tipoPromedioSelect()" [(ngModel)]="tipos.tipo" aria-label="Default label"
        placeholder="Elige el tipo de promedio a calcular">
        <ion-select-option *ngFor="let prom of tipoPromedio" [value]="prom.tipo">{{prom.tipo}}</ion-select-option>
      </ion-select>
    </ion-item>


    <!--
    Promedio Aritmético
   -->
    <div #promedioBasico hidden>
      <div class="promedioBasico">
        <ion-item class="{{terciario}}" *ngFor="let pos of promArit">
          <ion-row>
            <ion-col><label>Nota {{pos.pos}}</label></ion-col>
            <ion-col><ion-input type="number" (focusout)="calcularPromArit()" label="N{{pos.pos}}"
                label-placement="floating" fill="outline" [(ngModel)]="pos.notArit"></ion-input></ion-col>
            <ion-col><ion-button ionic capacitor build android fill="borderless"
                (click)="scheduleNotification()"><ion-icon name="alarm-outline"></ion-icon></ion-button></ion-col>
            <ion-col><ion-button (click)="borrarNotaArit(pos.pos)" fill="borderless"><ion-icon
                  name="close-circle-outline"></ion-icon></ion-button></ion-col>

          </ion-row>
        </ion-item>
        <ion-item class="{{terciario}}">
          <ion-row>
            <ion-col><ion-label>Agregar Nota</ion-label></ion-col>
            <ion-col><ion-button (click)="agregarNotaArit()" fill="borderless"><ion-icon
                  name="add-outline"></ion-icon></ion-button></ion-col>
          </ion-row>
        </ion-item>
        <ion-item class="{{terciario}}">
          <ion-row><ion-label>Promedio: {{promedioAritmetico}} </ion-label></ion-row>
        </ion-item>
      </div>

    </div>


    <!--
    Promedio Ponderado
    -->
    <div #promedioPorcentual hidden>
      <div class="promedioBasico">
        <ion-item class="{{terciario}}" *ngFor="let pos of promPonde">
          <ion-row>
            <ion-col><label>Nota {{pos.pos}}</label></ion-col>
            <ion-col><ion-input label="N{{pos.pos}}" (focusout)="calcularPromPonde()" label-placement="floating" fill="outline"
                [(ngModel)]="pos.notPond" type="number"></ion-input></ion-col>
            <ion-col><ion-input type="number" label="%"  (focusout)="calcularPromPonde()" label-placement="floating" fill="outline"
                [(ngModel)]="pos.porcPond"></ion-input></ion-col>
            <ion-col><ion-button (click)="borrarNotaPonde('{{pos.pos}}')" fill="borderless"><ion-icon
                  name="close-circle-outline"></ion-icon></ion-button></ion-col>
          </ion-row>
        </ion-item>

        <ion-item class="{{terciario}}">
          <ion-row>
            <ion-col><ion-label>Agregar Nota</ion-label></ion-col>
            <ion-col><ion-button (click)="agregarNotaPonde()" fill="borderless"><ion-icon
                  name="add-outline"></ion-icon></ion-button></ion-col>
          </ion-row>
        </ion-item>
        <ion-item class="{{terciario}}">
          <ion-row><ion-label>Promedio:{{promedioPonderado}} </ion-label><ion-label *ngIf="errorPorcMax"><ion-icon (click)="presentToast(errorPorcMax)"name="warning" color="warning"></ion-icon></ion-label></ion-row>
        </ion-item>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer> <ion-toolbar class="{{secundario}}">
    <ion-title *ngIf="userData;else promLogin">
      <ion-row *ngIf="tipos.tipo;else tipoSelected" class="ion-justify-content-between">
        <ion-col size=""><ion-input placeholder="Mi Promedio 1" [counter]="true" maxlength="25"
            [(ngModel)]="nombrePromArit"></ion-input></ion-col>
        <ion-col size="auto"><ion-button class="{{cuarto}}" (click)="guardarNotaArit()"
            fill="block">Guardar</ion-button></ion-col>
      </ion-row>

    </ion-title>
    <ng-template #tipoSelected>
      <ion-row  class="ion-justify-content-between">
        <ion-col size=""><ion-input placeholder="Mi Promedio 1" [counter]="true" maxlength="25"
            [(ngModel)]="nombrePromArit"></ion-input></ion-col>
        <ion-col size="auto"><ion-button class="{{cuarto}}" (click)="presentToast('Debes seleccionar un tipo de promedio')"
            fill="block">Guardar</ion-button></ion-col>
      </ion-row>
    </ng-template>
    <ng-template #promLogin>
      <ion-row class="ion-justify-content-between">
        <ion-col size=""><ion-input placeholder="Mi Promedio 1" [counter]="true" maxlength="25"
            [(ngModel)]="nombrePromArit" disabled></ion-input></ion-col>
        <ion-col size="auto"><ion-button class="{{cuarto}}" (click)="loginForSave()"
            fill="block"  >Guardar</ion-button></ion-col>
      </ion-row>
    </ng-template>

  </ion-toolbar></ion-footer>