<app-menu></app-menu>
<ion-header>
  <ion-toolbar class="{{primario}}">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Sudoku</ion-title>
  </ion-toolbar>
</ion-header>
<table class="sudokuTable">
  <tr *ngFor="let board_row of board; let x = index">
    <td *ngFor="let cell of board_row; let y = index" >
      <ion-input *ngIf="cell!=0;else celdavacia" class="celdaSudoku" value="{{cell}}" (change)="celdaLlena(x,y,cell)" disabled></ion-input>
      <ng-template #celdavacia >
        <ion-input  id="celda" value= "" class="celdaSudoku" (change)="celdaLlena(x,y,$event)"></ion-input> </ng-template>
    </td>
  </tr>
</table>
<ion-content></ion-content>

