.celdaSudoku {
    font-size: 20px !important;
    line-height: 20px !important;
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
    text-align: center;
    border: solid 1px;
    max-height: fit-content;


}

.sudokuTable {
    margin: 10%
}