@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
 
  box-sizing: border-box;
}

h1,
h2,
div,
td {
  text-align: center;
}

td {
  padding: 0;
  height: 128px;
  width: 128px;
  font-size: 64px;
  border: 2px solid transparent; 
  transition: border-color 1.5s; // animacion de cambio de color
  animation: colorChange 3s infinite; 
}

@keyframes colorChange {
  0% {
    border-color: rgb(245, 4, 4); // color inicial
  }
  25% {
    border-color: rgb(4, 245, 4); // cambio de color cada porcentaje
  }
  50% {
    border-color: rgb(4, 4, 245); 
  }
  75% {
    border-color: rgb(245, 245, 4); 
  }
  100% {
    border-color: rgb(245, 4, 4); 
  }
}


.circle {
  color: blue;
}

.cross {
  color: red;
}

.action-btn-container {
  padding: 10px 0px;
}

.action-btn-container button {
  margin: 0px 10px;
}
