/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

// PALETA DE COLORES PRINCIPAL
//#5E81FF
//#D7F4F2
//#278F8C
.primarioBasico{
    --background:#2C3E50 !important;
    --color:#BDC3C7;
}
.secundarioBasico{
    --background: #34495E !important;
    --color:#BDC3C7;
}
.terciarioBasico{
    
    --background:#ECF0F1 !important;
    --color:#2C3E50;
}
.cuartoBasico{
    --background:#BDC3C7 !important;
    --color:#2C3E50;
}
