<!--
  Cabecera principal
-->
<app-menu></app-menu>
<ion-header>
  <ion-toolbar class="{{primario}}">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Mi Promedio</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="refresh()"><ion-icon name="refresh"></ion-icon></ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!--
  Fin Cabecera principal
-->
<!--
  Contenido de la Pagina
-->
  <ion-item>
    
  </ion-item>
<!--
  Fin Contenido de la Pagina
-->

<ion-footer> <ion-toolbar class="{{secundario}}">
    
</ion-toolbar></ion-footer>